{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="https://kit.fontawesome.com/152ca9cf76.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/BOOKSPORIUM-2.png' %}" alt="">
            </div>
        </div>
    </header>
    <section class="signin-form">
        <div class="form-create">
            <h2 class="form-header" style="font-size: 30px;margin-top: 20px;">Authentication required</h2>
            <form method="POST" action="after_otp/" id="signin">
                {% csrf_token %}
                <p class="detail" style="font-size: 18px;">For your security, we need to authenticate your request. We've sent an OTP to the email <span>Mihirprajapati135@gmail.com.</span> Please enter it below to complete verification.</p>
                <div class="form-group">
                    <label for="otp_number">Enter OTP:</label>
                    <input type="text" name="otp_no" id="otp_number">
                    <span class="error_msg">{{ otp_msg }}</span>
                </div>
                <input type="submit" style="margin-bottom: 10px;" value="Continue" class="sign-btn btn">
                <a href="forgot_password/" class="forgot-password" style="margin-bottom: 20px;text-align: center;margin-top: 10px;">Resend OTP</a>
            </form>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="footer-logo">
                        <img src="{% static 'images/BOOKSPORIUM_footer.png' %}" alt="">
                    </div>
                    <h4>BookSporium is for Buy and earn Money by selling Your old Book.</h5>
                </div>
                <div class="row">
                    <h5 class="footer-title">About us</h5>
                    <ul>
                        <li><a href="#">Book, Magezin</a></li>
                        <li><a href="#">Sell any Book</a></li>
                        <li><a href="#">Download e-Book</a></li>
                        <li><a href="#">Rented Book</a></li>
                    </ul>
                </div>
                <div class="row">
                    <h5 class="footer-title">Contact us</h5>
                    <ul>
                        <li><a href="#">3/13 naman Street</a></li>
                        <li><a href="#">Borivali, mumbai</a></li>
                        <li><a href="#">Maharastra-45128</a></li>
                        <li><a href="#">123-154-7648</a></li>
                    </ul>
                </div>
                <div class="row">
                    <h5 class="footer-title">Follow us</h5>
                    <div class="social_icon">
                        <a href="#"><i id="fb" class="fab fa-facebook"></i></a>
                        <a href="#"><i id="instagram" class="fab fa-instagram"></i></a>
                        <a href="#"><i id="pinterest" class="fab fa-pinterest"></i></a>
                        <a href="#"><i id="twitter" class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <p id="copyright">Copyright &copy;: www.booksporium.com</p>
        </div>
    </footer>

    <script src="{% static 'js/signup.js' %}"></script>
</body>

</html>